
a {
	text-align: right;
	color:white;
}
@font-face {
    font-family: CustomFont;
    src: url('/assets/fuente.ttf');
	font-weight:400;
    font-weight:normal;
}
p{
	font-family: 'Arial Black', sans-serif;
	color:rgb(0, 0, 0);
	font-size: 32px;
	display: inline-block;
	padding-inline: 45px;
 
}
ul{
	
	display: inline-block;
	padding-inline: 150px;
}
body {
	background-image: url("../assets/images/morado.jpg");
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: 100% 10%;
	  background-attachment: scroll;
}
* {
	  margin:0px;
	  padding:0px;
}
#logo{

	width: 100px;
	height: 100px;
	background-image: url("../assets/logos/logo1.jpg");
	
}
#banner{
	  margin: auto;
	  width: 100%;
	  text-align: center;
	  
	  
}
#header {
	margin: auto;
	width: 100%;
	align-items: center;
}
ul, ol {
	list-style:none;
}
.navegador{
	padding-left: 10%;
}
.navegador > li {
	display: inline-block;
	align-items: center;
}
.navegador li ul {
	display:none;
	position:absolute;
}
			
.navegador li:hover > ul {
	display:block;
	padding-inline: 0px;
}
			
.navegador li ul li {
	position:relative;
}
			
.navegador li ul li ul {
	top:0px;
}
.iconos{
	padding-left: 40%;
}

.iconos > li {
	display: inline-block;
	padding-top: 200px;
}
#juego{
	width: 300px;
	height: 90px;
	background-image: url("../assets/botones/botonJuego.png");
}
#juego:hover{
	background-image: url("../assets/botones/juPulsado.png");
}
#historia{
	width: 300px;
	height: 90px;
	background-image: url("../assets/botones/botonHistoria.png");
}
#menu10{
	width: 300px;
	height: 90px;
	background-image: url("../assets/botones/botonNarrativ.png");
}
#menu10:hover{
	background-image: url("../assets/botones/narrPulsado.png");
}
#menu11{
	width: 300px;
	height: 90px;
	background-image: url("../assets/botones/botonPer.png");
}
#menu11:hover{
	background-image: url("../assets/botones/perPulsado.png");
}
#acerca{
	width: 300px;
	height: 90px;
	background-image: url("../assets/botones/botonAcer.png");
}
#menu20{
	width: 300px;
	height: 90px;
	background-image: url("../assets/botones/botonJuego.png");
}
#menu20:hover{
	background-image: url("../assets/botones/juPulsado.png");
}
#menu21{
	width: 300px;
	height: 90px;
	background-image: url("../assets/botones/botonNosotros.png");
}
#menu21:hover{
	background-image: url("../assets/botones/nosPulsado.png");
}
#redes{
	width: 300px;
	height: 90px;
	background-image: url("../assets/botones/botonRedes.png");
}
#redes:hover{
	background-image: url("../assets/botones/redesPulsado.png");
}
#twitter{
	width: 90px;
	height: 90px;
	background-image: url("../assets/logos/twitterLog.png");
}
#github{
	width: 90px;
	height: 90px;
	background-image: url("../assets/logos/githubLog.png");	
}
#pivotal{
	width: 90px;
	height: 90px;
	background-image: url("../assets/logos/pivotalLog.png");
}
h1{
	text-align: center;
	padding-top: 5%;
	
	
}